In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

**Guojing Wu** *| 2019-07-25*

<a href = "https://www.kaggle.com/learn/intermediate-machine-learning"> Kaggle: Intermediate Machine Learning </a>

# Objectives

* missing value

* pipelines

* CV

* XGBoost

* leakage

# Missing value

## drop columns

DataFrame.drop()

## imputation

Fill in with (mean) value

## extension to imputation

Sometimes rows with missing value may be unique, so instead of simply doing imputation, we also add a column indicate whether there is missing value or not

In [0]:
import pandas as pd
from sklearn.model_selection import train_test_split

# read the data
X_full = pd.read_csv('drive/My Drive/self_ML/Intermediate ML/train.csv', index_col='Id')
X_test_full = pd.read_csv('drive/My Drive/self_ML/Intermediate ML/test.csv', index_col='Id')

In [5]:
X_full.head()

    MSSubClass MSZoning  LotFrontage  ...  SaleType SaleCondition SalePrice
Id                                    ...
1           60       RL         65.0  ...        WD        Normal    208500
2           20       RL         80.0  ...        WD        Normal    181500
3           60       RL         68.0  ...        WD        Normal    223500
4           70       RL         60.0  ...        WD       Abnorml    140000
5           60       RL         84.0  ...        WD        Normal    250000

[5 rows x 80 columns]

In [0]:
# remove column without outcome
X_full.dropna(axis=0, subset=['SalePrice'], inplace=True)
y = X_full.SalePrice
X_full.drop(axis=1, labels=['SalePrice'], inplace=True)

In [0]:
# to make things simple, I'm only gonna use numerical data
X = X_full.select_dtypes(exclude=['object'])
X_test = X_test_full.select_dtypes(exclude=['object'])

In [0]:
X_train, X_val, y_train, y_val = train_test_split(X, y, train_size=0.8, test_size=0.2, random_state=0)

In [13]:
X_train.head()

     MSSubClass  LotFrontage  LotArea  ...  MiscVal  MoSold  YrSold
Id                                     ...
619          20         90.0    11694  ...        0       7    2007
871          20         60.0     6600  ...        0       8    2009
93           30         80.0    13360  ...        0       8    2009
818          20          NaN    13265  ...        0       7    2008
303          20        118.0    13704  ...        0       1    2006

[5 rows x 36 columns]

In [14]:
X_train.shape

(1168, 36)

In [16]:
X_train_missing = X_train.isnull().sum()
X_train_missing[X_train_missing > 0]

LotFrontage    212
MasVnrArea       6
GarageYrBlt     58
dtype: int64

Based on the above, we could tell that these three columns have few missing, it would be rediculous to just remove the entire column, so we use imputation.